@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    /* z-index: ; */
}
.max-width{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    height: 500px;

}

.navbar{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    /* padding: 5px 0; */
    background: #111;
    font-family: 'Ubuntu',sans-serif;
}
/* .navbar::before{
    content: "";
    background-color: #111;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}  */
 /* .navbar .max-widths{
    border: 2px solid white;
    padding: 0 10px;
    width: 100%;
    margin: 20p;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.navbar .logo{
    /* border: 2px solid red; */
    margin-left: 16px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* margin-left: 2px; */
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu ul{ 
    /* border: 2px solid yellow; */
    display: flex;
    margin: 0px;
    /* justify-content: flex-end; */
    /* margin-right: 2px; */
}
.navbar .menu li{
    list-style: none;
}
.navbar .menu li a{
    /* display: block; */
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-right: 75px;
}
.navbar .menu li a:hover{
    color: #0f0;
    text-shadow: 10px 10px 10px #0f0;
}
.navbar .menu .current{
    color: #0f0;
}
samp{
    color: rgb(112, 112, 177);
}

/* Home section */
.home{
    /* border: 2px solid white; */
    /* display: flex; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 100vh;
    width: 100%;
    color: #fff;
    min-height: 500px;

}

.home .home-content{
    /* border: 2px solid white; */
    position: relative;
    /* top: 100px; */
    align-items: center;
    font-family: 'Ubuntu',sans-serif;
}

.home .home-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
}   

.home .home-content .text-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* width: 100%; */
    width: 100%;
    font-size: 30px;
}
.home .home-content .text-2{
    /* margin: auto; */
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 70px;
    font-weight: 600;
    /* margin-left: -3px; */
}
.home .home-content .text-3{
    display: flex;
    justify-content: center;
    /* position: absolute; */
    left: 415px;
    margin: auto;
    width: 100%;
    font-size: 45px;
    /* margin: 5px 0; */
}
.home .home-content .text-3 span{
    font-weight: 600;
    color: rgb(112, 112, 177);
}

/* contract Page */
.contact-section{
    height: 100vh;
    width: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-contract{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0 20px #FFFFFF90;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,
.form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #222;
    margin-top: 5px;
}
textarea{
    resize: vertical;
}
button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background-color: #111;
    color: #fff;
}
button[type="submit"]:hover{
    color: #0f0;
    text-shadow: 120px 30px 120px #0f0;
}
#status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    color: black;
    font-size: 25px;
    border-radius: 9px;
}
#status.success{
    background-color: white;
    box-shadow: 0px 0 20px #FFFFFF90;
    animation: status 4s ease forwards;
}
#status.error{
    background-color: red;
    color: white;
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

/* footer..............................................  */
footer{
    /* display: flex; */
    background-color: #111;
    height: auto;
    width: 100%;
    font-family: "open sans";
    padding-top: 10px;
    color: white;   
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.footer-content p{
    color: rgb(112, 112, 177);
    max-width: 500px;
    /* margin: auto; */
    line-height: 28px;
    font-size: 22px;
    font-weight: bolder;
    /* text-decoration: underline; */
}
.footer-content .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;  
    margin: 0rem 0 -3px 0;
}
.footer-content .socials li{
    /* padding: 10px; */
    margin: 5px;
}

.footer-content .socials li a{
    font-size: 20px;
    /* color: red; */
    color: #0f0;
}
.footer-bottom{
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-bottom p{
    padding: 10px;
    margin: 0%;
    max-width: 550px;
    font-size: 20px;
    font-weight: bolder;
}
.footer-bottom p span{
    color: rgb(112, 112, 177);
    font-size: 22px;
}

label #btn,
label #cancel{
    color: white;
    font-size: 20px;
    float: right;
    /* line-height: 1px; */
    margin-right: 40px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* Media query.............................. */

/* @media (max-width: 650px) {
    label #btn{
        display: block;
    }
    .menu{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #222;
        top: 80px;
        left: 0;
        text-align: center;
    }
    .max-widths .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0;

        line-height: 50px;
    }
    nav .menu a{
        font-size: 10px;
    }
    .home-content{
        z-index: -1;
    }
    footer{
        z-index: -1;
    }
} */
@media (max-width: 450px){    
    .home{
        /* border: 2px solid green; */
        display: flex;
    }
    .home .max-width{
        /* border: 2px solid white; */
        width: 100vw;
    }
    #home .max-width .home-content{
        /* border: 2px solid yellow; */
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100vw; */
    }
    #home .max-width .home-content .text-1{
        font-size: 18px;
        /* border: 2px solid white; */
        width: 100vw;
    }
    #home .max-width .home-content .text-2{
        font-size: 22px;
        /* border: 2px solid white; */
        width: 100vw;
    }
    #home .max-width .home-content .text-3{
        font-size: 26px;
        /* border: 2px solid white; */
        width: 100vw;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100vw; */
    }
    #navbar .logo{
        margin-left: 0px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    #navbar .logo a{
        font-size: 25px;
    }
    #navbar .menu ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navbar .menu ul li a{
        font-size: 20px;
        /* margin-right: 28px; */
        margin: 2px 18px 2px 20px;
    }
    .footer-bottom p{
        font-size: 15px;
    }
    .footer-bottom p span{
        font-size: 16px;
    }
    .footer-content p{
        font-size: 18px;
    }
    .footer-content .socials li a{
        font-size: 17px;
        padding-left: 3px;
    }
}
@media (min-width: 450px) and (max-width: 700px){    
    .home{
        /* border: 2px solid green; */
        display: flex;
    }
    .home .max-width{
        /* border: 2px solid white; */
        width: 100vw;
    }
    #home .max-width .home-content{
        /* border: 2px solid yellow; */
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100vw; */
    }
    #home .max-width .home-content .text-1{
        font-size: 26px;
        /* border: 2px solid white; */
        width: 100vw;
    }
    #home .max-width .home-content .text-2{
        font-size: 30px;
        /* border: 2px solid white; */
        width: 100vw;
    }
    #home .max-width .home-content .text-3{
        font-size: 32px;
        /* border: 2px solid white; */
        width: 100vw;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100vw; */
    }
    #navbar .logo{
        margin-left: 0px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    #navbar .logo a{
        font-size: 30px;
    }
    #navbar .menu ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4px;
    }
    #navbar .menu ul li a{
        font-size: 25px;
        margin: 2px 50px 2px 50px;
    }
    .footer-bottom p{
        font-size: 20px;
    }
    .footer-bottom p span{
        font-size: 21px;
    }
    .footer-content p{
        font-size: 18px;
    }
    .footer-content .socials{
        margin-top: 1px;
    }
    .footer-content .socials li a{
        font-size: 17px;
        padding-left: 3px;
    }
}